.description {
    font-family: $MAIN_FONT;
    color: $MAIN_COLOR_FONTS;

    &__inner {
        display: flex;
        gap: 20px;
    }

    &__mini-img {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    &__images {
        min-width: 400px;
        overflow: hidden;
    }
}

.not-found {
    height: 435px;
    font-size: 36px;
    justify-content: center;
    align-items: center;
}

.main-img {
    height: 380px;
    margin-bottom: 20px;
    &:hover {
        cursor: pointer;
    }
}

.mini-img {
    width: 100px;
    height: auto;
    border: 1px solid $SUB_COLOR_PAGE;
    transition: border .2s linear;

    &:hover {
        cursor: pointer;
        border: 3px solid $SUB_COLOR_FONTS;
    }
}

.product-title {
    margin-bottom: 50px;
}

.category {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    line-height: 1.5;

    &__name {
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-width: 150px;
        font-weight: 300;
        color: $SUB_COLOR_FONTS;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.description-btn {
    width: 230px;
    height: 45px;
    margin-right: 15px;
    border: none;
    background-color: $MAIN_COLOR_PAGE;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: background-color .2s linear;

    &:hover {
      background-color: $MAIN_COLOR_HOVER;
      cursor: pointer;
    }
}

.buy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 1px $SUB_COLOR_PAGE solid;
    border-radius: 50%;
    color: $MAIN_COLOR_PAGE;
    font-weight: 500;
    font-size: 24px;
    transition: background-color .2s linear;

    &:hover {
        background-color: $SUB_COLOR_PAGE;
        cursor: pointer;
    }
}

.btn-container {
    display: flex;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.679);

    &__img {
        position: absolute;
        width: 500px;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__x {
        position: fixed;
        z-index: 200;
        top: 40px;
        right: 40px;
        font-family: $MAIN_FONT;
        font-size: 40px;
        color: $SUB_COLOR_PAGE;

        &:hover {
            cursor: pointer;
        }
    }
}