@import "/src/normalize.css";
@import 'src/common/variables.scss';
@import 'src/common/header.scss';
@import "./description.scss";
@import 'src/common/footer.scss';

.container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}