.filters {
  width: 400px;

  &__btn {
    width: 230px;
    height: 45px;
    margin-right: 15px;
    border: none;
    background-color: $MAIN_COLOR_PAGE;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: background-color .2s linear;

    &:hover {
      background-color: $MAIN_COLOR_HOVER;
      cursor: pointer;
    }
  }

  &__theme {
    border-bottom: 1px solid $SUB_COLOR_PAGE;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 90%
  }

  &__theme-item {
    margin-bottom: 20px;
    color: $SUB_COLOR_FONTS;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover input ~ .checkmark {
      background-color: $SUB_COLOR_FONTS;
    }
  }

  &-title {
    margin-bottom: 20px;
  }

  &__price {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    border-bottom: 1px solid $SUB_COLOR_PAGE;
  }

  &__control-panel {
    display: flex;
  }
}

.sliders-control {
  position: relative;
  min-height: 50px;

  &__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
  }
  
  &__input::-moz-range-thumb {
    appearance: none;
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
  }
  
  &__input::-webkit-slider-thumb:hover {
    background: #f7f7f7;
  }
  
  &__input::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px $MAIN_COLOR_PAGE, 0 0 9px $MAIN_COLOR_PAGE;
    -webkit-box-shadow: inset 0 0 3px $MAIN_COLOR_PAGE, 0 0 9px $MAIN_COLOR_PAGE;
  }
  
  &__input {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
  }
}

.form__prices {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #635a5a;

  &-title {
    font-size: 16px;
    margin-right: 10px;
    color: $SUB_COLOR_FONTS;
  }

  &-container {
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: $SUB_COLOR_PAGE;
  }

  &-input {
    text-align: end;
    color: $MAIN_COLOR_FONTS;
    width: 70px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: $SUB_COLOR_PAGE;
  }

  &-input::-webkit-inner-spin-button,
  &-input::-webkit-outer-spin-button {
    opacity: 1;
  }
}

#from-Slider, #to-SliderStock {
  height: 0;
  z-index: 1;
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

  &:checked ~ .checkmark {
    background-color: $MAIN_COLOR_PAGE;
  }

  &:checked ~ .checkmark:after {
    display: block;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: $SUB_COLOR_PAGE;
  transition:  background-color .2s linear;

  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}

.filters__theme-item .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.trash {
  width: 35px;
  height: 30px;
  fill: $MAIN_COLOR_FONTS;

  &-container {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $SUB_COLOR_PAGE 1px solid;
    border-radius: 50%;
    transition: background-color .2s linear;

    &:hover {
      background-color: $SUB_COLOR_PAGE;
      cursor: pointer;
    }
  }
}