.container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}

.main {
    padding-top: 30px;
    width: 100%;
    font-family: $MAIN_FONT;
    color: $MAIN_COLOR_FONTS;
    
    &__inner {
        display: flex;
    }
}